<!-- Renderizado de valor por @Input -->
<p id="saludo">Hola, {{ usuario }}</p>

<ul class="alumnos">
  <li
    *ngFor="let alumno of alumnos"
    [id] = "'alumno-'+alumno.id"
    class='alumno'
    (click)="seleccionarAlumno(alumno.id)"
    >
    {{ alumno.first_name }}
  </li>
</ul>

<!-- Detalle del Alumno Seleccionado -->
<div id='detalle' *ngIf="alumnoSeleccionado.email else mensajeAlumnoNoSeleccionado">
  {{ alumnoSeleccionado.first_name }} {{ alumnoSeleccionado.last_name }}
</div>

<ng-template #mensajeAlumnoNoSeleccionado>
  <div id="mensaje">
    Por favor, selecciona un alumno
  </div>
</ng-template>

<!-- Envío mensaje con EventEmitter -->
<div>
  <input type="text" id="input-mensaje" [(ngModel)]="mensajeNuevo" />
  <button id="boton-emitir" (click)="mandarMensaje()">
    Enviar Mensaje
  </button>
</div>

